<span style ="font-size:14pt"><%= "#{@contact.first_name} #{@contact.last_name}"%></span><br>
<span style ="font-size:12pt"><%= "(#{@contact.phone_number[0..2]}) #{@contact.phone_number[3..5]}-#{@contact.phone_number[6..9]}"%></span><br>


